**/node_modules
**/temp
**/.tmp
**/dist
extension/.sass-cache
extension/app/bower_components
extension/test/bower_components
extension/package
extension/app/scripts
server/docking.js
server/apikey.js
/server/caches.db
